backend/n8n/supply_chain_workflow.json
{
    "name": "Supply Chain AI - Daily Analysis",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 6 * * *"
                        }
                    ]
                }
            },
            "id": "trigger-daily",
            "name": "Cron Daily (6AM)",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                220,
                240
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM v_estoque e JOIN v_produtos p ON e.sku = p.sku WHERE e.saldo_atual < e.estoque_minimo_erp"
            },
            "id": "get-critical-stock",
            "name": "Postgres - Get Critical Stock",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                460,
                240
            ],
            "credentials": {
                "postgres": {
                    "id": "your-postgres-cred-id",
                    "name": "Local Postgres"
                }
            }
        },
        {
            "parameters": {
                "model": "gpt-4-turbo",
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "You are an expert supply chain analyst. Calculate the recommended order quantity (EOQ) and analyze risk."
                        },
                        {
                            "role": "user",
                            "content": "Analyze this SKU data: {{JSON.stringify($json)}}. Current Stock: {{$json.saldo_atual}}. Lead Time: {{$json.lead_time}} days. Average Daily Sales: {{$json.media_vendas}}. Output JSON with keys: recommended_qty, risk_level, reasoning."
                        }
                    ]
                }
            },
            "id": "ai-analysis",
            "name": "OpenAI - Analysis",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                680,
                240
            ],
            "credentials": {
                "openAiApi": {
                    "id": "your-openai-cred-id",
                    "name": "OpenAI Account"
                }
            }
        },
        {
            "parameters": {
                "functionCode": "// Parse AI response and format for DB\nconst aiResult = JSON.parse($input.item.json.message.content);\n\nreturn {\n  sku: $input.item.json.sku,\n  ...aiResult,\n  analyzed_at: new Date().toISOString()\n};"
            },
            "id": "format-results",
            "name": "Format Results",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                900,
                240
            ]
        },
        {
            "parameters": {
                "operation": "insert",
                "table": "dm_analise_estoque",
                "columns": "sku, sugestao_compra_qtd, status_risco, sugestao_compra_motivo, data_analise"
            },
            "id": "save-marts",
            "name": "Update Data Mart",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                1120,
                240
            ]
        }
    ],
    "connections": {
        "Cron Daily (6AM)": {
            "main": [
                [
                    {
                        "node": "Postgres - Get Critical Stock",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres - Get Critical Stock": {
            "main": [
                [
                    {
                        "node": "OpenAI - Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI - Analysis": {
            "main": [
                [
                    {
                        "node": "Format Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Results": {
            "main": [
                [
                    {
                        "node": "Update Data Mart",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}